@import '../css/constants/mixin.scss';

.header{
    font-size: 30px;
    cursor: default;
    color: rgb(100,108,108);
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 80%;
    border-top: 2px solid #3498db;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.refresh{
    @include color-field;
    margin-left: 45px;
}

.spanTitle{
    font-weight: 500;
    font-size: .875rem;
    padding-bottom: 4px;
    padding-top: 4px;
}

.settings{
    @include color-field;
    margin-left: 30px;
}

.profile{
    margin-left: 90px;
}

.refresh:hover,.settings:hover{
    fill:black
}

.cardAnimate{
    margin-left: 300px;
    transition: 0.25s;
    margin-top: 100px;
}

.shift{
    margin-left: 450px;
    transition: 0.25s;
    margin-top: 100px;
}

.card{
    width: 550px;
    height: 50px;
    font-family: sans-serif;
    font-weight: bolder;
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    text-align: initial;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 6px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

.cardOpen{
    width: 500px;
    height: 150px;
    font-family: sans-serif;
    font-weight: bolder;
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    text-align: initial;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 6px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

.label{
    color: #5f6368;
    font-weight: 900;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    padding: 15px 24px 10px;
}

.displayCards{
    width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 680px) {
    div {
      width: 10%;
    }
    .refresh .settings .profile{
        margin-left: 0;
    }
}


// @media screen and (min-width:1380px) {
//     .refresh .settings .profile{
//         margin-left: 0;
//     }
// }
