.header{
    font-size: 30px;
    color: rgb(100,108,108);
}

.divTitle{
    text-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.refresh{
    margin-left: 45px;
    fill: grey;
    cursor: pointer;
}
.spanTitle{
    font-weight: 500;
    font-size: .875rem;
    padding-bottom: 4px;
    padding-top: 4px;
}
.settings{
    margin-left: 30px;
    fill: grey;
    cursor: pointer;
}

.profile{
    margin-left: 90px;
}

.refresh:hover,.settings:hover{
fill:black
}

.anchor{
outline: none;
}

.label{
    color: #5f6368;
    font-weight: 900;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    padding: 15px 24px 10px;
}
