@import '../css/constants/mixin.scss';

.mainHead{
    @include flex;
}

.iconHead{
    @include flex;
    padding: 10px;
}

#dialogTitle,#dialogDesc{
    width:400px;
    margin: 10px;
}

#iconList{
width: 100%;
margin-left: 20px;
}

#dialog{
    opacity: 1;
    animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.pinHead{
    margin-top: 15px;
    margin-right: 10px;
    fill: grey;
}

.pinHead:hover{
    fill:black;
}

#buttonHead{
    @include flex;
    justify-content: flex-end;
    width:40%
}

.buttonHead{
    margin-right: 30px;
    font-size: 15px;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    color: rgba(0,0,0,0.87);
    line-height: 1.25rem;
    border-radius: 4px;
    white-space: nowrap;
    border: none;
    background-color: transparent; 
}

.reminderBox{
    text-align: initial;
    display: flex;
}