.single{
    width: 300px;
    height: 250px;
    margin-left: 5px;
    margin-top: 10px;
    transition-property: opacity,box-shadow,transform;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}

.double{
    width: 800px;
    height: 250px;
    margin-left: 5px;
    margin-top: 10px;
    transition: 0.3s;
    transition-property: opacity,box-shadow,transform;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}

.label1{
    width: 200px;
    padding: 10px;
    margin-top: 15px;
    word-wrap: break-word;
    margin-bottom: 10px;
    text-align: start;
    text-overflow: ellipsis;
}

.pin{
    fill: grey;
    margin-top: 20px;
    margin-left: 40px;
    display: none;
}

.pin:hover{
    fill:black;
}

.title{
    display: flex;
    flex-direction: row;
}

#icons{
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    display: none;
}

.single:hover{
    #icons,.pin{
        display: block;
    }
}

.double:hover{
    #icons,.pin{
        display: block;
    }
}

