@import '../css/constants/mixin.scss';

.options{
    @include flex;
    justify-content: space-between;
}

#more,#color,#archive,#remind{
    fill: #202124;
}

#more:hover,#color:hover,#archive:hover,#remind:hover{
    opacity: .71;
}
